@media screen and (max-width: 800px) {
	body {
		background-image:-moz-linear-gradient(left, blue, #C3CBEF);
		background-image:-webkit-linear-gradient(left, blue, #C3CBEF);
		font-family: Arial;
	}
	
	.logo {
		position: absolute;
		margin-left: 30%;
		margin-top: -75%;	
	}

	.iut {
		position: relative;
		margin-left: 35%;
		margin-top: 80%;
	}

	h3 {
		text-decoration: underline;
		font-style: italic;
	}

	h1 {
		border: 2px black dashed;
		text-align: center;
	
	}

	object {
		margin-top: 0%;
		border: 2px solid black;
		width: 777px; 
		height: 815px;
	}
	
	a{
		text-decoration: none;
		color: black;
	}

	a:hover{
		text-decoration: underline;
		color: red;
	}

	.complement_titre {
		position: absolute;
		width: 85%;
		margin-left: 10%;
		margin-top: -35%;
		border: 2px solid black;
		text-align: center;
		background-color: #1394F2;
	}

	.Reglement_interieur {
		position: absolute;
		background-color: #837E97;
		text-align: center;
		border: 2px solid black;
		width: 40%;
		height: 10%;
		margin-top: -30%;
		padding-top: 2%;
		margin-left: 10%;
	}
	
	.Reglement_interieur:hover {
		position: absolute;
		background-color: #FFF1F1;
		text-align: center;
		border: 2px solid black;
		width: 43%;
		height: 12%;
		margin-top: -30%;
		padding-top: 2%;
		margin-left: 10%;
		transition: 0.5s;
	}

	.Administration {
		position: absolute;
		background-color: #837E97;
		text-align: center;
		border: 2px solid black;
		width: 40%;
		height: 10%;
		margin-top: -30%;
		padding-top: 2%;
		margin-left: 55%;
	}
	
	.Administration:hover {
		position: absolute;
		background-color: #FFF1F1;
		text-align: center;
		border: 2px solid black;
		width: 43%;
		height: 12%;
		margin-top: -30%;
		padding-top: 2%;
		margin-left: 55%;
		transition: 0.5s;
	}

	.integration {
		position: absolute;
		background-color: #837E97;
		text-align: center;
		border: 2px solid black;
		width: 40%;
		height: 10%;
		margin-top: 5%;
		padding-top: 2%;
		margin-left: 10%;
	}

	.integration:hover {
		position: absolute;
		background-color: #FFF1F1;
		text-align: center;
		border: 2px solid black;
		width: 43%;
		height: 12%;
		margin-top: 5%;
		padding-top: 2%;
		margin-left: 10%;
		transition: 0.5s;
	}
	
	.Zotcod {
		position: absolute;
		background-color: #837E97;
		text-align: center;
		border: 2px solid black;
		width: 40%;
		height: 10%;
		margin-top: 5%;
		padding-top: 2%;
		margin-left: 55%;
	}
	
	.Zotcod:hover {
		position: absolute;
		background-color: #FFF1F1;
		text-align: center;
		border: 2px solid black;
		width: 43%;
		height: 12%;
		margin-top: 5%;
		padding-top: 2%;
		margin-left: 55%;
		transition: 0.5s;
	}
}
