@media screen and (max-width: 500px) {
	body {
		background-image:-moz-linear-gradient(left, blue, #C3CBEF);
		background-image:-webkit-linear-gradient(left, blue, #C3CBEF);
		font-family: Arial;
	}
	
	.logo {
		position: absolute;
		margin-top: -190%;
		margin-left: 25%;	
	}

	.iut {
		position: relative;
		margin-left: 35%;
		margin-top: 200%;
	}

	h3 {
		text-decoration: underline;
		font-style: italic;
	}

	h1 {
		border: 2px black dashed;
		text-align: center;
	
	}

	object {
		margin-top: 0%;
		border: 2px solid black;
		width: 479px; 
		height: 815px;
	}

	a{
		text-decoration: none;
		color: black;
	}

	a:hover{
		text-decoration: underline;
		color: red;
	}

	.complement_titre {
		position: absolute;
		width: 85%;
		height: 20%;
		margin-left: 10%;
		margin-top: -125%;
		border: 2px solid black;
		text-align: center;
		background-color: #1394F2;
	}

	.Reglement_interieur {
		position: absolute;
		background-color: #837E97;
		text-align: center;
		border: 2px solid black;
		width: 85%;
		height: 10%;
		margin-top: -120%;
		padding-top: 2%;
		margin-left: 10%;
	}
	
	.Reglement_interieur:hover {
		position: absolute;
		background-color: #FFF1F1;
		text-align: center;
		border: 2px solid black;
		width: 85%;
		height: 10%;
		margin-top: -120%;
		padding-top: 2%;
		margin-left: 10%;
		transition: 0.5s;
	}

	.Administration {
		position: absolute;
		background-color: #837E97;
		text-align: center;
		border: 2px solid black;
		width: 85%;
		height: 10%;
		margin-top: -100%;
		padding-top: 2%;
		margin-left: 10%;
	}
	
	.Administration:hover {
		position: absolute;
		background-color: #FFF1F1;
		text-align: center;
		border: 2px solid black;
		width: 85%;
		height: 10%;
		margin-top: -100%;
		padding-top: 2%;
		margin-left: 10%;
		transition: 0.5s;
	}

	.integration {
		position: absolute;
		background-color: #837E97;
		text-align: center;
		border: 2px solid black;
		width: 85%;
		height: 10%;
		margin-top: -80%;
		padding-top: 2%;
		margin-left: 10%;
	}

	.integration:hover {
		position: absolute;
		background-color: #FFF1F1;
		text-align: center;
		border: 2px solid black;
		width: 85%;
		height: 10%;
		margin-top: -80%;
		padding-top: 2%;
		margin-left: 10%;
		transition: 0.5s;
	}
	
	.Zotcod {
		position: absolute;
		background-color: #837E97;
		text-align: center;
		border: 2px solid black;
		width: 85%;
		height: 10%;
		margin-top: -60%;
		padding-top: 2%;
		margin-left: 10%;
	}
	
	.Zotcod:hover {
		position: absolute;
		background-color: #FFF1F1;
		text-align: center;
		border: 2px solid black;
		width: 85%;
		height: 10%;
		margin-top: -60%;
		padding-top: 2%;
		margin-left: 10%;
		transition: 0.5s;
	}
}
